.info-header {
    background-color: #014C5E;
    padding: 10px 25px 10px 25px;
    font-size: 10px;

    display: flex;
    justify-content: space-between;
}

.info-header a {
    text-decoration: none;
    color: white;
    padding: 5px;;
}